.container {
  display: flex;
}

.animate {
  position: absolute;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.item {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 50px;
  margin-top: 50px;
  margin-left: 10px;
  padding: 5px;
  border-bottom: 5px solid;
  border-color: darkred;
}

.hang {
  display: flex;
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-40%, -40%);
}

.content {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
}

h1 {
  font-size: 80px;
  font-weight: bold;
}

h2 {
  font-size: 28px;
}

.alphabet-buttons-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
}
.alphabet-button {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.center {
  position: absolute;
  overflow: hidden;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: darkred;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.start-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.start-button,
.leaderboard-button,
.authors-button,
.go-menu {
  margin-bottom: 10px;
  background-color: black;
  color: darkred;
  width: 250px;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 30px;
  border-color: darkred;
  border-width: 5px;
}



.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.hidden {
  display: none;
}

.hidden-letter {
  visibility: hidden;
}

.show-out {
  animation: showOut 0.5s reverse;
}

@keyframes showOut {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .start-menu {
      height: auto;
      padding: 20px;
  }

  .animation {
      height: 30%;
  }

  .buttons-container {
      justify-content: center;
  }

  .start-button,
  .leaderboard-button,
  .authors-button,
  .go-menu {
      width: 200px;
      height: 50px;
      font-size: 20px;
  }

  .letters-vowels,
  .letters-consonants1,
  .letters-consonants2 {
      height: 40px;
      width: 40px;
  }

  h1 {
      font-size: 60px;
  }

  h2 {
      font-size: 20px;
  }
}

